name: Compilar APK Final

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del codigo
      uses: actions/checkout@v4

    - name: Configurar JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Compilar con Gradle instalado
      # Usamos 'gradle' directamente en lugar de './gradlew'
      run: gradle assembleDebug

    - name: Generar Descarga del APK
      uses: actions/upload-artifact@v4
      with:
        name: MiAppInstalable
        path: app/build/outputs/apk/debug/app-debug.apk
